/*  main green: #137a63
    light green: #5aa17f
    ice blue: #428df5
*/

  html {
    scroll-behavior: smooth;
  }

  a:link {
    text-decoration: none;
    color: #137a63;
  }

  nav .navbar-nav li a :hover {
    color: #5aa17f !important;
  }

  .navbar {
    -webkit-box-shadow: 0 6px 5px -5px #999;
    -moz-box-shadow: 0 6px 5px -5px #999;
    box-shadow: 0 6px 5px -5px #999;
  }

  .navbar-brand img {
    max-width: 270px;
    height: auto;
  }
  
  .nav-item {
    padding: 25px 10px;
    font-weight: bolder;
  }

  .nav-item .nav-link {
    color: #404040 !important;
  }

  .nav-item a:hover {
    color: #137a63 !important;
  }

  .blur {
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
  }

  .carousel-item img {
    max-height: 900px;
    width: auto;
  }

  .jumbotron {
    text-align: center;
    background-color: white;
    margin-bottom: 0px !important;
    padding: 36px 36px;
  }
  
  .cold {
    font-size: 20px !important;
    color: #428df5;
  }
  .card {
    margin-bottom: 25px !important;
    text-align: center;
    min-width: 290px;
    margin: 0 auto;
    float: none;
    -webkit-box-shadow: 0 6px 5px -5px #999;
    -moz-box-shadow: 0 6px 5px -5px #999;
    box-shadow: 0 6px 5px -5px #999;
  }
  
  .card-img-top {
    width: auto;
    height: 140px;
    object-fit: cover;
  }

  .card-body a {
    text-decoration: none;
    color: white;
  }

  .btn-primary {
    background-color: #5aa17f;
    border-color: #137a63;
    color:white;
    -webkit-box-shadow: 0 6px 5px -5px #999;
    -moz-box-shadow: 0 6px 5px -5px #999;
    box-shadow: 0 6px 5px -5px #999;
  }

  .btn-primary:hover {
    background-color: #137a63;
    border-color: #5aa17f;
    -webkit-box-shadow: 0 6px 5px -5px #999;
    -moz-box-shadow: 0 6px 5px -5px #999;
    box-shadow: 0 6px 5px -5px #999;
  }

  .disabled {
    background-color: #777 !important;
    border-color: black !important;
    font-weight: 100;
    color: white !important;
  }

  footer {
    padding: 30px 0px;
    color: #137a63;
    height: 100px;
  }

  /* normal */
  @media (min-width: 768px) {
    html {
      font-size: 18px !important;
    }
  }

  /* smaller */
  @media (max-width: 990px) {
    html {
      font-size: 16px !important;
    }
    .nav-item {
      padding: 10px 0px;
      font-weight: bolder;
      text-align: center;
    }
  }

  @media (max-width: 400px) {
    html {
      font-size: 16px !important;
    }
    .nav-item {
      padding: 10px 0px;
      font-weight: bolder;
    }
  }
